.jumbotron {
  background-color: #89bfd2;
  height: 400px;
  padding: 2rem 0;
  margin-bottom: 0;
}

.title__hero {
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}

.text__hero {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: left;
  color: white;
  margin-top: 1rem;
}

.main__banner {
  width: 100%;
  display: flex;
  align-items: center;
}

.main__banner img {
  width: 60%;
  margin: 0 auto;
}

.auth-img {
  width: 18%;
  margin-right: 0.5rem;
  pointer-events: none;
}

.btn {
  z-index: 99 !important;
}
