.header {
  background-color: #89bfd2;
}

/* a:link, a:visited {
  color: white;
} */

.header__link {
  color: white;
  font-weight: 900;
  font-family: "Montserrat" sans-serif;
  text-transform: uppercase;
}

.header__link a {
  color: white;
}